.navbar-default {
  background-color: #2b2e3f;
  border-color: #4f5265; }
  .navbar-default .navbar-brand {
    color: #ecf0f1; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #cfd1db; }
  .navbar-default .navbar-text {
    color: #ecf0f1; }
  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #cfd1db; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #cfd1db;
    background-color: #4f5265; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #cfd1db;
    background-color: #4f5265; }
  .navbar-default .navbar-toggle {
    border-color: #4f5265; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #4f5265; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ecf0f1; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ecf0f1; }
  .navbar-default .navbar-link {
    color: #ecf0f1; }
    .navbar-default .navbar-link:hover {
      color: #cfd1db; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #cfd1db; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #cfd1db;
    background-color: #4f5265; } }
body {
  color: #95979f;
  margin: 0;
  font-size: 18px;
  line-height: 1.3em;
  font-family: 'Kadwa', serif; }

hr {
  margin-top: 30px;
  border-top: 4px double #8c8b8b;
  text-align: center;
  width: 80%; }

hr:after {
  content: 'Web Developer';
  height: 40px;
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -20px;
  padding: 9px 10px;
  color: #b0b1b7;
  font-size: 18px; }

nav.navbar {
  margin-bottom: 0; }

#hero {
  margin: 0;
  width: 100%;
  height: 600px;
  text-align: center;
  background-image: url("img/low-poly-1239778_1920.jpg");
  background-attachment: fixed; }
  #hero h1 {
    padding-top: 200px; }

#hero-about-transition {
  position: relative;
  top: -80px;
  background: ade-out(#23525a, 1);
  background: -webkit-linear-gradient(rgba(35, 82, 90, 0), #23525a, rgba(35, 82, 90, 0));
  background: -o-linear-gradient(rgba(35, 82, 90, 0), #23525a, rgba(35, 82, 90, 0));
  background: -moz-linear-gradient(rgba(35, 82, 90, 0), #23525a, rgba(35, 82, 90, 0));
  background: linear-gradient(rgba(35, 82, 90, 0), #23525a, rgba(35, 82, 90, 0));
  height: 160px; }

#about-projects-transition {
  position: relative;
  top: -80px;
  background: ade-out(#23525a, 1);
  background: -webkit-linear-gradient(rgba(35, 82, 90, 0), #23525a, rgba(35, 82, 90, 0));
  background: -o-linear-gradient(rgba(35, 82, 90, 0), #23525a, rgba(35, 82, 90, 0));
  background: -moz-linear-gradient(rgba(35, 82, 90, 0), #23525a, rgba(35, 82, 90, 0));
  background: linear-gradient(rgba(35, 82, 90, 0), #23525a, rgba(35, 82, 90, 0));
  height: 160px; }

#projects-contact-transition {
  position: relative;
  top: -80px;
  background: ade-out(#2b2e3f, 1);
  background: -webkit-linear-gradient(rgba(43, 46, 63, 0), #2b2e3f, rgba(43, 46, 63, 0));
  background: -o-linear-gradient(rgba(43, 46, 63, 0), #2b2e3f, rgba(43, 46, 63, 0));
  background: -moz-linear-gradient(rgba(43, 46, 63, 0), #2b2e3f, rgba(43, 46, 63, 0));
  background: linear-gradient(rgba(43, 46, 63, 0), #2b2e3f, rgba(43, 46, 63, 0));
  height: 160px; }

#about {
  background-color: #2a636c;
  height: 500px; }
  #about h2 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 60px; }
  #about #aboutContent {
    background-color: #23525a;
    height: 500px; }
    #about #aboutContent div.row {
      position: relative;
      top: -80px;
      height: 500px; }
    #about #aboutContent h3 {
      font-size: 30px; }

#introduction {
  padding-bottom: 20px; }

#skill-list {
  list-style: none; }

#projects {
  background-color: #1c4148;
  height: 1200px; }

#contact {
  position: relative;
  top: -160px;
  background-color: #2b2e3f;
  padding-top: 80px;
  height: 350px; }

.project {
  margin-top: 20px; }

h3 {
  font-size: 30px;
  text-decoration: underline; }

img {
  padding: 10px 5px; }

@media only screen and (max-width: 992px) {
  #about {
    height: 450px; }
    #about #aboutContent {
      height: 450px; }

  #projects {
    height: 2900px; }

  #about-projects-transition {
    top: -135px; } }
@media only screen and (max-width: 780px) {
  #about {
    height: 550px; }
    #about #aboutContent {
      height: 550px; }

  #projects {
    height: 2900px; }

  #about-projects-transition {
    top: -80px; } }
@media only screen and (max-width: 670px) {
  #about {
    height: 750px; }
    #about #aboutContent {
      height: 750px; }

  #projects {
    height: 2600px; } }
@media only screen and (max-width: 570px) {
  #projects {
    height: 2400px; } }
@media only screen and (max-width: 480px) {
  #about {
    height: 700px; }
    #about #aboutContent {
      height: 700px; }

  #projects {
    height: 2450px; } }
@media only screen and (max-width: 380px) {
  #projects {
    height: 2200px; } }

/*# sourceMappingURL=style.css.map */
